.intro-section {
  height: 100%;
  width: min(40rem, 100%);
  padding: 0 min(6.5rem, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-section h1 {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: #bb511f;
  cursor: text;
}

a {
  text-decoration: none;
}

.intro-section .card-3d {
  margin: 1rem;
  padding: 10px 15px;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  color: #000;
  border-bottom: 4px solid #00000033;
  box-shadow: 0px -0.5px 8px 0.5px #0000004d;
  transform: rotateY(20deg) rotateX(20deg);
  cursor: pointer;
}

.intro-section .card-3d:hover {
  transition: all 400ms ease-out;
  transform: scale(1.05) rotateY(0deg) rotateX(0deg);
}

.intro-section .card-3d:active {
  box-shadow: inset 0px -0.5px 8px 0.5px #0000004d;
}

.intro-section .card-3d:nth-of-type(1) {
  background: #bfe8fc;
}

.intro-section .card-3d:nth-of-type(2) {
  background: #faffc8;
}

.card-3d img {
  height: 70px;
}

.card-3d span {
  margin: auto 0;
  width: 100%;
  height: max-content;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 900;
}

.card-3d > * {
  pointer-events: none;
}

.board-section {
  width: min(40rem, 100%);
  height: 100%;
}

.board-section img {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  cursor: pointer;
}
