.sidenav {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  background: #dedad5;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.side-drawer-background {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.sidenav.side-drawer {
  width: 0;
  visibility: hidden;
  transition: width 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sidenav.side-drawer.show {
  width: var(--sidenav-width);
  visibility: visible;
  box-shadow: 0 3px 3px #0e0e0e;
}

.sidenav.sidebar {
  width: var(--sidenav-width);
  z-index: 0;
}

.sidenav.sidebar + .content {
  margin-left: var(--sidenav-width);
}
